{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases
 {:nrepl
  {:extra-paths ["test"]
   :extra-deps  {refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}
                 cider/cider-nrepl             {:mvn/version "LATEST"}}

   :main-opts   ["-m" "nrepl.cmdline"
                 "-b" "0.0.0.0"
                 "--middleware"
                 "[refactor-nrepl.middleware/wrap-refactor,cider.nrepl/cider-middleware]"]}

  :refactor
  {:extra-deps {rewrite-clj/rewrite-clj {:mvn/version "1.1.45"}}}

  :test
  {:extra-paths ["test"]
   :extra-deps  {io.github.cognitect-labs/test-runner
                 {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
   :main-opts   ["-m" "cognitect.test-runner"]
   :exec-fn     cognitect.test-runner.api/test}}}
